<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:int-ip="http://www.springframework.org/schema/integration/ip"
       xmlns:int-jms="http://www.springframework.org/schema/integration/jms"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/integration
                           http://www.springframework.org/schema/integration/spring-integration.xsd
                           http://www.springframework.org/schema/integration/ip
                           http://www.springframework.org/schema/integration/ip/spring-integration-ip.xsd


                           http://www.springframework.org/schema/integration/jms
                           http://www.springframework.org/schema/integration/jms/spring-integration-jms.xsd


                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">


    <context:component-scan base-package="org.shafin.ssapp.spring-integration.endpoint"/>
            
    <int-ip:tcp-connection-factory
        id="tcpConnectionFactoryOTPServer"
        type="server"
        local-address="${org.shafin.ssapp.tcp-socket-server.server-address}"
        port="${org.shafin.ssapp.tcp-socket-server.server-port}"
        single-use="false"
        serializer="tcpSocketSerializer"
        deserializer="tcpSocketDeserializer"
        backlog="3000"
        using-nio="true"
        so-tcp-no-delay="true"
        lookup-host="false"
        so-timeout="50000"
    />

<!--    <bean id="tcpService" class="org.shafin.tms.core.service.TcpService"/>

    <bean id="tmsException" class="org.shafin.tms.core.exception.TmsSocketChannelException"/>-->

    <int:message-history/>

    <int:channel id="channelOTPValidationRequest" />
    <int:channel id="channelErrorOTPValidationRequest"/>


    <bean id="tcpSocketDeserializer" class="org.shafin.ssapp.spring_integration.helper.TcpSocketSerializerDeserializer"/>
    <bean id="tcpSocketSerializer" class="org.shafin.ssapp.spring_integration.helper.TcpSocketSerializerDeserializer"/>


    <int-ip:tcp-inbound-gateway 
        id="gatewayOTPSocketServer"
        auto-startup="true"
        connection-factory="tcpConnectionFactoryOTPServer"
        request-channel="channelOTPValidationRequest" 
        reply-timeout="30000" 
        error-channel="channelErrorOTPValidationRequest"
    />

    <int:service-activator
        input-channel="channelOTPValidationRequest"
        ref="otpTcpServerEndpoint"
        method="runTcpMethod"
    />

    <int:service-activator
        input-channel="channelErrorOTPValidationRequest"
        ref="otpTcpServerEndpoint"
        method="runTcpMethod"
    />
</beans>